<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moko.lw007">

    <application
        android:name="com.moko.lw007.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/lw007_ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.moko.lw007.activity.GuideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.lw007.activity.LoRaLW007MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.DeviceInfoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.LoRaConnSettingActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.LoRaAppSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.SystemInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.PIRSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.HallSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.THSettingsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.ExportDataActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.SelfTestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.LoRaConnSettingNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.BatteryConsumeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw007.activity.SelfTestNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.lw007.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.moko.lw007.service.DfuService" />
    </application>
</manifest>
